*{
    margin: 0;
    padding: 0;
}

/* ---------Header Section CSS ------- */
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    
  }
.header-container{
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    
}

#header-image{
    width: 240px;
    height: 240px;
    margin-top: 20px;

}

#header-heading{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;

}
#header-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;

}
#contact-btn{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 10px;

}
#contact-btn a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}
