*{
    margin: 0;
    padding: 0;
}

/* ---------Header Section CSS ------- */

.roboto-bold {
    font-family: "Roboto", sans-serif;
}
    
  
.header-container{
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
    
}

#header-image{
    width: 240px;
    height: 240px;
    margin-top: 20px;

}

#header-heading{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;

}
#header-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;

}
#contact-btn{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 10px;

}
#contact-btn a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}


/* ------------why web development main-container section CSS---------------- */

.main-container{
    width: 1540px;
    height: 1595px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 180px;
    align-items: center;
}

/* <!-- ---------why web development  heading section---------- --> */

.web-deb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.web-deb h2{
    font-size: 35px;
    font-weight: 800;
}

.web-deb p{
    font-size: 20px;
    font-weight: 400;
}


/* ---------why web development  Coding Section CSS ------- */

.coding-sec{
    display: flex;
    margin-top: 50px;
    gap: 200px;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 1346px;
    height: 400px;
    align-items: center;

}
.coding-left-sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;



}

.coding-left-sec h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;  
    
        
}

.coding-left-sec p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    
}

.coding-left-sec button{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 50px;
    background-color: white ;
    border-radius: 10px;
    margin-top: 20px;

}

.coding-left-sec button a{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}
.coding-right-sec{

}


/* ---------why web development  modern-web Section CSS ------- */

.modern-web{
    display: flex;
    margin-top: 50px;
    gap: 200px;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 1346px;
    height: 400px;
    align-items: center;

}
.modern-web-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;



}

.modern-web-right h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    
        
}

.modern-web-right p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    
}

.modern-web-right button{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 50px;
    background-color: white ;
    border-radius: 10px;
    margin-top: 20px;

}

.modern-web-right button a{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}
.modern-web-left{

}

/* ------------My Inspiration Section------------ */

.inspiration-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#inspiration-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px 50px 50px;

}
#inspiration-heading h3{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}
#inspiration-heading p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

#inspirat-content{
    width: 1540px;
    height: 850px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#inspirat-content iframe{
    width: 1440px;
    height: 750px;
    border-radius: 16px;
}


/* ------------Current Target Section------------ */

.current-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.target-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.target-heading h1{

    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    

}
.target-heading p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 400;
}

/* ---------------Current Target main Box Container Style-------------- */
.box-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}


/* ---------------Current Target Common Box Container Style-------------- */

.common-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 464px;
    height: 400px;
    border-radius: 16px;
    gap: 40px;


}
.common-box img{
    width: 65px;
    height: 65px;
    margin: 0px 70px;
}
.common-box h3{
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    margin: 0px 70px;
    
}
.common-box p{
    color: rgb(13, 19, 33);
    font-size: 25 px;
    font-weight: 500;
    text-align: left;
    opacity: 0.7;
    margin: 0px 70px;

}
.common-box a{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 700;
    margin: 0px 70px;
    
    

}

/* -------------------html,css,js boxes ------------------------- */

.html-box{
    background: rgba(255, 76, 30, 0.05);
}
.css-box{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-box{
    background-color: rgba(255, 223, 0, 0.05);
}

/* -------------------Need Support Section ------------------------- */

.support-main{
    background: url(../assets/handshake.jpg) rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    width: 1490px;
    height: 415px;
    border-radius: 16px;
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.heading h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    
}
.heading p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.inpute-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
#feedback-box{
    width: 600px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 30px;
    
}


#submit-btn{
    width: 150px;
    height: 65px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}

#submit-btn a{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}
/* ******************footer Section***************************** */

